Repository VedangKanade20/College-System: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-client, eslint-client, prettier-server, eslint-server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-client:
      root: "client"
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: npx prettier --write {staged_files}
    eslint-client:
      root: "client"
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}

    prettier-server:
      root: "server"
      glob: "*.{js,ts,json}"
      run: npx prettier --write {staged_files}
    eslint-server:
      root: "server"
      glob: "*.{js,ts}"
      run: npx eslint --fix {staged_files}

testing lefthook working
  client/src/app/page.js
Due: prettier-client, eslint-client

testing the lefthook
  package-lock.json
  package.json
Due: none

create the readme file in root for lefthook
  README.md
Due: none

update the readme to add autosave setup
  README.md
Due: none

testing the formater
  client/src/app/page.js
Due: prettier-client, eslint-client

check
  client/src/app/page.js
Due: prettier-client, eslint-client

feat: created the navbar
  client/src/app/globals.css
  client/src/app/page.js
  client/src/components/ui/Navbar.jsx
  client/src/components/ui/meteors.jsx
Due: prettier-client, eslint-client

feat: created about us
  client/src/app/globals.css
  client/src/app/page.js
  client/src/components/ui/AboutUs.jsx
  client/src/components/ui/HeroSection.jsx
Due: prettier-client, eslint-client

feat: created feature section
  client/package-lock.json
  client/package.json
  client/src/app/globals.css
  client/src/app/page.js
  client/src/components/ui/Feature.jsx
  client/src/lib/utils.js
Due: prettier-client, eslint-client

feat: create CTA section
  client/src/app/page.js
  client/src/components/ui/CtaSection.jsx
Due: prettier-client, eslint-client

feat: create footer section
  client/src/app/globals.css
  client/src/app/page.js
  client/src/components/ui/Footer.jsx
  client/src/lib/utils.js
Due: prettier-client, eslint-client

feat: create sign-up page
  client/public/signup.png
  client/src/app/signup/page.js
Due: prettier-client, eslint-client

feat: create login page
  client/public/login.png
  client/src/app/login/page.js
  client/src/components/ui/Navbar.jsx
Due: prettier-client, eslint-client

feat: create forget email page
  client/public/email.png
  client/src/app/forget-password/page.js
  client/src/app/login/page.js
Due: prettier-client, eslint-client

Backend Setup Done
  client/package-lock.json
  package-lock.json
  server/app.js
  server/database/db.js
  server/env.example
  server/eslint.config.mjs
  server/index.js
  server/package-lock.json
Due: prettier-client, prettier-server, eslint-server

dashboard setup with common sidebar
  client/src/app/dashboard/_components/Sidebar.js
  client/src/app/dashboard/branch-management/page.js
  client/src/app/dashboard/excel-upload/page.js
  client/src/app/dashboard/layout.js
  client/src/app/dashboard/page.js
  client/src/app/dashboard/subject-allocation/page.js
  client/src/app/dashboard/syllabus/page.js
  client/src/app/dashboard/teachers/page.js
  client/src/components/ui/HeroSection.jsx
  client/src/lib/utils.js
Due: prettier-client, eslint-client

feat: create the common search and profile section in dashboard
  client/src/app/dashboard/_components/ProfileSegment.js
  client/src/app/dashboard/layout.js
Due: prettier-client, eslint-client

feat: create dashboard main page
  client/src/app/dashboard/page.js
Due: prettier-client, eslint-client

feat: create subjec allocation page
  client/src/app/dashboard/layout.js
  client/src/app/dashboard/subject-allocation/page.js
Due: prettier-client, eslint-client

Branch Management added
  client/src/app/dashboard/branch-management/page.js
Due: prettier-client, eslint-client

update: convert css to tailwind in branch-management page and change the background color to white
  client/src/app/dashboard/branch-management/page.js
  client/src/app/dashboard/layout.js
  client/src/app/globals.css
Due: prettier-client, eslint-client

update: the setup for server
  server/.env.example
  server/app.js
  server/config/connectDB.js
  server/env.example
  server/index.js
Due: prettier-server, eslint-server

Create README.md
  server/README.md
Due: none

feat: create syllabus mapping page
  client/src/app/dashboard/layout.js
  client/src/app/dashboard/syllabus-mapping/page.js
  client/src/app/globals.css
  client/src/lib/utils.js
Due: prettier-client, eslint-client

update: fixed the position of sidebar
  client/src/app/dashboard/_components/Sidebar.js
  client/src/app/dashboard/layout.js
Due: prettier-client, eslint-client

feat: create lesson-plan page
  client/src/app/dashboard/lesson-plan-management/page.js
  client/src/lib/utils.js
Due: prettier-client, eslint-client

feat: create assessment plan management page
  client/package-lock.json
  client/package.json
  client/src/app/dashboard/assessment-plan-management/page.js
  client/src/lib/utils.js
Due: prettier-client, eslint-client

Authentication Backend and Testing Done
  server/controllers/userController.js
  server/index.js
  server/middlewares/userMiddleware.js
  server/middlewares/verifyTokenAndAdmin.js
  server/models/subjectModel.js
  server/models/userModel.js
  server/routes/userRoutes.js
Due: prettier-server, eslint-server

Merged
  client/src/app/dashboard/lesson-plan-management/page.js
  server/index.js
  server/models/userModel.js
Due: prettier-client, eslint-client, prettier-server, eslint-server

update: sidebar from client component to hybrid component
  client/src/app/dashboard/_components/ActiveLinks.jsx
  client/src/app/dashboard/_components/ProfileSegment.jsx
  client/src/app/dashboard/_components/Sidebar.js
  client/src/app/dashboard/_components/Sidebar.jsx
Due: prettier-client, eslint-client

feat(auth): integrate backend sign-up api in the sign-up page and protect the dashboard routes
  client/package-lock.json
  client/package.json
  client/src/app/layout.js
  client/src/app/signup/page.js
  client/src/middleware.js
  server/controllers/userController.js
Due: prettier-client, eslint-client, prettier-server, eslint-server

feat(auth):integrate backend login api in the login page
  client/src/app/login/page.js
  server/controllers/userController.js
Due: prettier-client, eslint-client, prettier-server, eslint-server

feat(auth):protect the login and sign-up page from loggedin user
  client/src/middleware.js
Due: prettier-client, eslint-client

feat:create helper for api url
  client/src/app/login/page.js
  client/src/app/signup/page.js
  client/src/helper/apiUrl.js
Due: prettier-client, eslint-client

update: export for apiUrl
  client/src/helper/apiUrl.js
Due: prettier-client, eslint-client

fix(middleware): allow unauthenticated users to access signup page
  client/src/middleware.js
Due: prettier-client, eslint-client

feat: create the logged in user get api and call it in fronted with context api
  client/src/app/layout.js
  client/src/app/login/page.js
  client/src/app/signup/page.js
  client/src/context/userContext.js
  server/controllers/userController.js
  server/routes/userRoutes.js
Due: prettier-client, eslint-client, prettier-server, eslint-server

added subject logic
  server/controllers/subjectController.js
  server/controllers/userController.js
  server/middlewares/verifyTokenAndAdmin.js
  server/models/academicyearModel.js
  server/models/assessmentplanModel.js
  server/models/coModel.js
  server/models/lessonplanModel.js
  server/models/pomodel.js
  server/models/programModel.js
  server/models/semesterModel.js
  server/models/subjectModel.js
  server/models/syllabusModel.js
  server/models/userModel.js
  server/routes/subjectRoutes.js
Due: prettier-server, eslint-server

added subject logic
  server/models/academicyearModel.js
  server/models/assessmentplanModel.js
  server/models/coModel.js
  server/models/lessonplanModel.js
  server/models/pomodel.js
  server/models/programModel.js
  server/models/semesterModel.js
  server/models/subjectModel.js
  server/models/syllabusModel.js
  server/models/userModel.js
Due: prettier-server, eslint-server
